__pycache__
*.dol
*.dat
*.dae
*.tpl
*.txt
*.csv
anim_info

*.brstm
*.wad
*.thp
*.sluggie
*.act
*.bin
*.7z

SluggiesTools/Debug/
2_Output_Models/
3_Output_Dat/
.venv/
build/
dist/

.clinerules
AGENT.md
CLAUDE.md